<footer class="bg-green-900 font-semibold text-white">
  <div class="container mx-auto space-y-5 py-10">
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-3 flex flex-col space-y-3">
        <label class="text-2xl font-extrabold">Need Help</label>
        <ul class="flex flex-col space-y-2">
          <li class="flex flex-row space-x-2"><span class="font-bold">Call us</span><span
            class="font-normal">+1234567890</span>
          </li>
          <li class="flex flex-row space-x-2"><span class="font-bold">Email us</span><span class="font-normal">flora@mail.com</span>
          </li>
          <li class="flex flex-row space-x-2"><span class="font-bold">Join our Twitter</span><span
            class="font-normal">@flora</span></li>
          <li class="flex flex-row space-x-2"><span class="font-bold">Follow us on Instagram</span><span
            class="font-normal">@flora</span></li>
        </ul>
      </div>
    </div>
    <div class="border border-gray-400"></div>
    <div class="mx-auto flex justify-between">
      <img src="	https://metropolitanhost.com/themes/themeforest/html/weedo/assets/img/footer-bottom-img.png"/>
      <span>All Rights Reserved©2023</span>
    </div>
  </div>
</footer>
