<div class="flex flex-row">
  <div class="flex flex-col space-y-2 border-r">
    <a *ngFor="let item of items"
       [routerLink]="item.link"
       [ngClass]="{'active-tab':item.active}"
       (click)="selectItem(item)"
       class="flex flex-row justify-start space-x-5 px-4 py-2 transition duration-500 hover:bg-[#00a04633]">
      <fa-icon class="my-auto" [icon]="item.icon"></fa-icon>
      <div class="flex flex-col" [innerHtml]="item.innerHtml">
      </div>
    </a>
  </div>
  <ng-content></ng-content>
</div>
