<div class="flex flex-col justify-center space-y-4 border p-[20px]">
  <a [routerLink]="['./', product.id]">
    <img class="h-auto w-auto place-self-center object-scale-down" src="https://picsum.photos/300/300"/>
  </a>

  <div class="flex flex-row justify-between">
    <div class="flex text-sm font-medium text-green-900">
      <fa-icon [icon]="faCheck"></fa-icon>
      <span class="ml-1">Some note</span>
    </div>
    <span class="rounded-full border border-rose-400 px-1 text-sm font-medium">191919</span>
  </div>
  <a [routerLink]="['./', product.id]" class="text-base font-medium">Product name</a>
  <span class="text-xl font-bold">99 <small class="font-normal">uah</small></span>
  <button class="btn-gradient-orange">Add To Cart
  </button>
</div>
