<div class="container mx-auto py-10 flex flex-col space-y-24">

  <div class="container grid grid-cols-12 gap-6">
    <div class="col-span-6">
      <div class="flex flex-row space-x-5 justify-center">
        <div class="flex flex-col space-y-5">
          <img class="ml-auto mr-auto max-w-full max-h-full" src="https://picsum.photos/400/300"/>
          <div class="flex hidden flex-row space-x-2 overflow-hidden">
            <img class="max-w-[100px]" src="https://picsum.photos/400/300"/>
            <img class="max-w-[100px]" src="https://picsum.photos/400/300"/>
            <img class="max-w-[100px]" src="https://picsum.photos/400/300"/>
            <img class="max-w-[100px]" src="https://picsum.photos/400/300"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-6 flex flex-col space-y-3.5">
      <div class="flex space-x-3">
        <div class="my-auto flex">
          <fa-icon class="text-yellow-400" [icon]="faStar"></fa-icon>
          <fa-icon class="text-yellow-400" [icon]="faStar"></fa-icon>
          <fa-icon class="text-yellow-400" [icon]="faStar"></fa-icon>
          <fa-icon class="text-yellow-400" [icon]="faStar"></fa-icon>
          <fa-icon class="text-gray-400" [icon]="faStar"></fa-icon>

        </div>
        <span class="font-medium text-gray-400">Reviews(12)</span>
      </div>
      <h2 class="text-3xl font-bold">Fucsia</h2>
      <span class="text-2xl font-medium text-green-900">250$<span
        class="ml-1 text-sm text-gray-400 line-through">350$</span></span>
      <div class="flex flex-row space-x-2">
        <span class="font-bold">Availability:</span>
        <span class="font-bold text-green-900">In Stock</span>
      </div>
      <form class="flex flex-col space-y-5">
        <div class="flex flex-row space-x-2">
          <span class="my-auto font-medium">Quantity:</span>
          <div class="rounded-full border p-3 font-bold">
            <button type="button"
                    (click)="quantity = quantity - 1"
                    class="fill-gray-300 m-auto">
              <i class="block w-4 h-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                  <path
                    d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
                </svg>
              </i>
            </button>
            <input class="w-10 appearance-none text-center bg-white" type="text" disabled name="quantity" [(ngModel)]="quantity"/>
            <button type="button"
                    (click)="quantity = quantity + 1"
                    class="fill-gray-300 m-auto">
              <i class="block w-4 h-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                  <path
                    d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                </svg>
              </i>
            </button>
          </div>
        </div>
        <button class="bg-gradient-orange px-5 py-1 font-bold text-white w-fit">
          Add to cart
        </button>
      </form>
      <div class="flex flex-row space-x-2">
        <span class="my-auto font-medium">Categories:</span>
        <a class="border py-1 px-2 text-sm text-gray-500 bg-white hover:bg-green-900 hover:text-white trasition duration-500">
          Flower
        </a>
      </div>
    </div>
  </div>


  <app-tab>
    <app-tab-item title="Details">
      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-2 flex flex-row justify-between border-b p-1" *ngFor="let i of range">
          <span class="font-medium">{{faker.commerce.productAdjective()}}</span>
          <span class="font-medium text-green-900">{{faker.commerce.productAdjective()}}</span>
        </div>

      </div>
    </app-tab-item>
    <app-tab-item title="Description">
      <div class="flex flex-col space-y-6">
        <h2 class="text-3xl font-bold text-slate-800">Description</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor.
          Ipsum
          metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa.
          Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non
          neque.Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in imperdiet
          ligula euismod eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
          egestas. Nam erat mi, rutrum at sollicitudin rhoncusp</p>
      </div>
    </app-tab-item>
    <app-tab-item title="Reviews({{3}})" #reviews>
      <div class="flex flex-col space-y-6">
        <h2 class="text-3xl font-bold text-slate-800">Reviews</h2>
        <div class="flex flex-row space-x-5">
          <img src="https://picsum.photos/300/300" class="max-w-16 max-h-16 rounded-full"/>
          <div class="flex flex-col justify-start space-y-3">
            <div class="flex flex-row space-x-2">
              <h5 class="text-xl font-medium">Rosalina Pong</h5>
              <span class="my-auto font-normal text-gray-500">29 Jan 2022</span>
            </div>
            <span>Rating</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex
              ea commodo consequat.</p>
            <div>
              <button class="border bg-white px-4 py-2 text-green-900 transition duration-500 hover:border-green-900">
                Reply
              </button>
            </div>
          </div>
        </div>
        <div class="flex flex-row space-x-5">
          <img src="https://picsum.photos/300/300" class="max-w-16 max-h-16 rounded-full"/>
          <div class="flex flex-col justify-start space-y-3">
            <div class="flex flex-row space-x-2">
              <h5 class="text-xl font-medium">Rosalina Pong</h5>
              <span class="my-auto font-normal text-gray-500">29 Jan 2022</span>
            </div>
            <span>Rating</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex
              ea commodo consequat.</p>
            <div>
              <button class="border bg-white px-4 py-2 text-green-900 transition duration-500 hover:border-green-900">
                Reply
              </button>
            </div>
          </div>
        </div>
        <div class="flex flex-row space-x-5 ml-20">
          <img src="https://picsum.photos/300/300" class="max-w-16 max-h-16 rounded-full"/>
          <div class="flex flex-col justify-start space-y-3">
            <div class="flex flex-row space-x-2">
              <h5 class="text-xl font-medium">Rosalina Pong</h5>
              <span class="my-auto font-normal text-gray-500">29 Jan 2022</span>
            </div>
            <span>Rating</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex
              ea commodo consequat.</p>
            <div>
              <button class="border bg-white px-4 py-2 text-green-900 transition duration-500 hover:border-green-900">
                Reply
              </button>
            </div>
          </div>
        </div>
      </div>
    </app-tab-item>
  </app-tab>
</div>
