<div class="container mx-auto py-10 flex flex-col space-y-24">

  <div class="container grid grid-cols-12 gap-6">
    <div class="col-span-6">
      <div class="flex flex-row space-x-5 justify-center">
        <div class="flex flex-col space-y-5">
          <img class="ml-auto mr-auto max-w-full max-h-full" src="https://picsum.photos/400/300"/>
          <div class="flex hidden flex-row space-x-2 overflow-hidden">
            <img class="max-w-[100px]" src="https://picsum.photos/400/300"/>
            <img class="max-w-[100px]" src="https://picsum.photos/400/300"/>
            <img class="max-w-[100px]" src="https://picsum.photos/400/300"/>
            <img class="max-w-[100px]" src="https://picsum.photos/400/300"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-6 flex flex-col space-y-3.5">
      <div class="flex space-x-3">
        <app-rating [rate]="plant.rate!"></app-rating>
        <span class="font-medium text-gray-400">Reviews({{reviewCount}})</span>
      </div>
      <h2 class="text-3xl font-bold">{{plant.name}}</h2>
      <span class="text-2xl font-medium text-green-900">{{plant.price | currency}}
        <!--        <span class="ml-1 text-sm text-gray-400 line-through">350$</span>-->
      </span>
      <div class="flex flex-row space-x-2">
        <span class="font-bold">Availability:</span>
        <span class="font-bold text-green-900">In Stock</span>
      </div>
      <form class="flex flex-col space-y-5">
        <div class="flex flex-row space-x-2">
          <span class="my-auto font-medium">Quantity:</span>
          <div class="p-3 font-bold">
            <button type="button"
                    (click)="quantity = quantity - 1"
                    [disabled]="quantity == 1"
                    class="fill-black m-auto">
              <fa-icon [icon]="faMinus"></fa-icon>
            </button>
            <input class="w-10 py-2 mx-2 border appearance-none text-center bg-white"
                   type="text"
                   disabled
                   name="quantity"
                   [(ngModel)]="quantity"/>
            <button type="button"
                    (click)="quantity = quantity + 1"
                    class="fill-black m-auto">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </div>
        </div>
        <button class="btn-gradient-orange w-fit">
          Add to cart
        </button>
      </form>
      <div class="flex flex-row space-x-2" *ngIf="plant.category">
        <span class="my-auto font-medium">Categories:</span>
        <a
          class="border py-1 px-2 text-sm text-gray-500 bg-white hover:bg-green-900 hover:text-white trasition duration-500">
          {{plant.category.name}}
        </a>
      </div>
    </div>
  </div>


  <app-tab>
    <app-tab-item title="Details">
      <div class="grid grid-cols-12 gap-6">
        <div class="col-span-2 flex flex-row justify-between border-b p-1"
             *ngFor="let characteristic of plant.characteristicValues">
          <span class="my-auto font-medium">{{characteristic.name!}}</span>
          <span class="my-auto font-medium text-green-900">{{characteristic.value!}}</span>
        </div>

      </div>
    </app-tab-item>
    <app-tab-item title="Description">
      <div class="flex flex-col space-y-6">
        <h2 class="text-3xl font-bold text-slate-800">Description</h2>
        <p>{{plant.description}}</p>
      </div>
    </app-tab-item>
    <app-tab-item title="Reviews({{reviewCount}})">
      <div class="flex flex-col space-y-6">
        <h2 class="text-3xl font-bold text-slate-800">Reviews</h2>
        <ng-container *ngFor="let review of plant.reviews"
                      [ngTemplateOutlet]="rec"
                      [ngTemplateOutletContext]="{$implicit: review, level:0, rateVisibility:true}"
        >
        </ng-container>
      </div>
    </app-tab-item>
  </app-tab>
</div>


<ng-template #rec let-review let-level="level" let-rateVisibility="rateVisibility">
  <div class="flex flex-row space-x-5 lv-{{level}}">
    <img src="https://picsum.photos/300/300" class="max-w-16 max-h-16 rounded-full"/>
    <div class="flex flex-col justify-start space-y-3">
      <div class="flex flex-row space-x-2">
        <h5 class="text-xl font-medium">{{review.userFirstName}} {{review.userLastName}}</h5>
        <span class="my-auto font-normal text-gray-500">{{review.postDate | date}}</span>
      </div>
      <span *ngIf="rateVisibility">Rating</span>
      <p>{{review.message}}</p>
      <div>
        <button class="border bg-white px-4 py-2 text-green-900 transition duration-500 hover:border-green-900">
          Reply
        </button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="review.children">
    <ng-container *ngFor="let child of review.children"
                  [ngTemplateOutlet]="rec"
                  [ngTemplateOutletContext]="{$implicit: child, level:level+1, rateVisibility: false}">
    </ng-container>
  </ng-container>
</ng-template>
