<header class="w-full">
  <div class="container mx-auto flex flex-row justify-between py-3">
    <a [routerLink]="['/']" class="flex">
      <img src="./../../../assets/img/logo/logo.png"
           class="h-12 max-w-full"/>
    </a>

    <div class="relative flex w-1/3 flex-row group">
      <div class="flex flex-row w-full z-30">
        <input type="text"
               name="search"
               [(ngModel)]="search"
               (input)="onInput($event)"
               (focus)="onSearchFocus($event)"
               class="w-full border border-slate-300 px-5 py-2.5 outline-0"
               placeholder="e.g. Something"/>
        <button class="btn-gradient-orange">Search</button>
      </div>
      <div class="absolute hidden z-50 left-0 right-0 top-full border bg-white p-1 transition duration-500"
           [ngClass]="{'block':areResultsVisible}">
        <a class="flex flex-row justify-between p-2"
           *ngFor="let i of [1,2,3,4,5]"
           (click)="onPlanClicked($event)"
           [routerLink]="['/plants', 'Abbey', '1']">
          <span class="my-auto font-medium">Plant name</span>
          <img class="max-h-[32px]" src="https://picsum.photos/300/300"/>
        </a>
      </div>
      <div
        class="fixed hidden  z-20 w-full h-full bg-black left-0 right-0 bottom-0 top-0 opacity-70 "
        (click)="onSearchMouseLeave($event)"
        [ngClass]="{'block':areResultsVisible}"></div>
    </div>

    <div class="flex space-x-5">
      <a [routerLink]="['/cabinet']"
         class="m-auto flex flex-row font-medium text-green-900">
        <fa-icon [icon]="faUser"></fa-icon>
        <span class="ml-1">Cabinet</span>
      </a>

      <a [routerLink]="['/cabinet', 'wishlist']"
         class="relative m-auto flex flex-row font-medium text-green-900">
        <fa-icon [icon]="faHeart"></fa-icon>
        <div class="absolute w-[20px] h-[20px] rounded-full text-[14px] bg-orange-500 top-0 -right-3.5 -top-2">
          <div class="m-auto text-white font-bold text-center">3</div>
        </div>
      </a>

      <div class="relative m-auto flex flex-row font-medium text-green-900">
        <fa-icon [icon]="faBasketShopping"></fa-icon>
        <div class="absolute w-[20px] h-[20px] rounded-full text-[14px] bg-orange-500 top-0 -right-3.5 -top-2">
          <div class="m-auto text-white font-bold text-center">3</div>
        </div>
      </div>
    </div>
  </div>
  <div class="group container mx-auto">
    <nav class="block relative z-10">
      <ul class="flex">
        <li
          *ngFor="let category of categories"
          (mouseenter)="setSubCategories(category)"
          [routerLinkActive]="['bg-[#EA6E27]']"
          class="w-full py-2 text-center font-bold text-white transition duration-300 bg-[rgba(38,137,104,1)] hover:bg-[#EA6E27]">
          <a [routerLink]="['/plants', category.name]"
             [queryParams]="{categoryId:category.id}">{{category.name}}</a>
        </li>
      </ul>
      <div class="container absolute inset-x-0 hidden bg-white p-1 group-hover:block z-50">
        <div class="grid grid-cols-10 gap-1">
          <a [routerLink]="['/plants',  category.name]"
             [queryParams]="{categoryId: category.id}"
             class="col-span-2 flex flex-row justify-start space-x-2 border bg-white p-3 hover:shadow-2xl transition duration-500"
             *ngFor="let category of subcategories">
            <img class="max-h-[50px] max-w-[50px]" src="https://picsum.photos/300/300"/>
            <span class="my-auto font-semibold">{{category.name}}</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>


